<h2 class="text-center mb-5">Messages List</h2>
<input type="string" [(ngModel)]="currentUserId" class="form-control w-50" placeholder={{[(currentUserId)]}} #search disabled>

<button class="btn btn-info mr-3 mt-3" type="button" (click)='searchItems(search)'>
  Search<i class="fa fa-search"></i>
</button>
<p class='text-danger' *ngIf='!inputValue'>Please enter sender Id</p>
<p class='text-success' *ngIf='onDeleteMessageInfo'>Message was deleted!</p>
<div class="row">
  <div class="col-sm-6 col-md-6" >
    <h4 class="text-center">Sent Messages</h4>
      <div class="alert-message alert-message-success border p-3" *ngFor='let message of sentMessages'>
          <h4>{{message.subject}}</h4>
          <span>Date: {{message.date}}</span>
          <button
            type="button"
            class="close text-danger"
            aria-label="Close"
            (click)="deleteMessage(message._id, 'sent')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <p>{{message.content}}</p>
      </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <h4 class="text-center">Received Messages</h4>
    <div class="alert-message alert-message-success border p-3" *ngFor='let message of recievedMessages'>
      <h4>Subject: {{message.subject}}</h4>
      <span>Date: {{message.date}}</span>
      <button
        type="button"
        class="close text-danger"
        aria-label="Close"
        (click)="deleteMessage(message._id, 'recieved')"
      >
      <span aria-hidden="true">&times;</span>
    </button>
      <p>{{message.content}}</p>
  </div>
  </div>
</div>

